<<<<<<< HEAD
.parent{
  background-image: url(images/cat_background.png);
  background-repeat: repeat;
}

=======
h1{
text-align: center;
}

footer{
  position: relative;
  top: 40px;
  background-color: #90C3D4;
  font: inherit;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;

}
section{
  position: relative;
  top: 75px;

}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #90C3D4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
>>>>>>> e66a844de7c35753647681606567d1ca1e961477


#image1{
  display: flex;
  border:solid;
  border-color: black;
  border-width: 5px;

}

#image2{
  border:solid;
  border-color: black;
  border-width:5px;
}

<<<<<<< HEAD

.image{
  height: 300px;
  width: 300px;
}

.myChart{
  display: flex;
  border: solid;
  justify-content: center;
}

=======
#navTitle{
  display: inline;
  font-size: 18px;

}

.image{
  text-align: center;
}

.navBar2{
  display: inline;
  font-size: 18px;
}

#myChart{
  position: relative;
  top: 100px;
}
>>>>>>> e66a844de7c35753647681606567d1ca1e961477
